/*publication page*/
.pubp {/*親div*/
    position: relative;/*相対配置*/
}

.pubp span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.pubp img {
    width: 100%;
}


/*first page*/
.toppic {/*親div*/
    position: relative;/*相対配置*/
}

.toppic .fa {/*classがfaのアイコンに対して*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0 auto;/*余計な隙間を除く*/
    padding:0;/*余計な隙間を除く*/
    color: black;/*アイコン色*/
    font-size: 60px;/*サイズ*/
}

.toppic p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size:clamp(0.2rem, 5vw + 3rem, 25.6rem);
}

.toppic span {
    position: absolute;
    top: 50%;
    left: 45%;
}

.toppic img {
    width: 100%;
}


/*top scroll bottun*/
.scroll {
    position:relative;
    font-size:clamp(1rem, 2vw + 1rem, 3.6rem);
    margin-top:13%;
    display:inline-block;
    height:100px;
    cursor: pointer;
}
.scroll:hover {
    text-decoration:none;
}

.pubbox {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #223a70;/*文字色*/
    background: #FFF;
    border: solid 3px #223a70;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.links {
    cursor: pointer;
}

.face img{ width: 50%; }

.intro p{text-align: justify; font-size:clamp(9px, 2vw, 18px);}

.address  {
    color: #223a70;/*文字色*/
    table-layout: auto;
}