.panel{
    color: #fff;
    padding: 40px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
#panel0{
    padding: 0;
    /*background-image: url("images/swiss.jpg");*/
    max-width: 100%;
    height: auto;
    justify-content: normal;
}
#panel1{
    background: #333;
}
#panel2{
    background: #666;
}
#panel3{
    padding: 0;
    padding-top: 10px;
    max-width: 100%;
    height: auto;
    justify-content: normal;
}
#panel4{
    background: #000;
}


.pagination {
    position:fixed;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:1em;
    z-index: 10;
    list-style: none;
    display: inline-block;
}

.pagination a {
    display:block;
    height:20px;
    margin-bottom:5px;
    color:#fff;
    position:relative;
    padding:10px;
}

.pagination a.active:after {
    box-shadow:inset 0 0 0 5px;
}

.pagination a .hover-text {
    display:none
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    -webkit-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    width:10px;
    height:10px;
    display: block;
    border:1px solid;
    border-radius:50%;
    content:"";
    position: absolute;
    margin:auto;
    top:0;
    right:3px;
    bottom:0;
}




