$white: #FFF;
$black: #333;
// メイン
$blue: #0168B7;
// アクセント
$yellow: #F2F947;
// サイト背景
$gray1: #F5F5F5;
// sp限定の灰色テキストリンク
$gray2: #999;
// PC限定の背景の大きな英語
$gray3: #D7D7D7;
$gray4: #5F5F5F;
$gray5: #484848;