.list-pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  width: auto !important;
  height: 266px !important;
  color: $blue;
  writing-mode: vertical-rl;
  @include mq-up() {
    gap: 14px;
  }
  & li {
    display: block;
    height: 23px;
    width: 23px;
    margin: 0 !important;
    border-radius: 50%;
    font-family: $ubuntu;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    background-color: initial;
    cursor: pointer;
    opacity: 1;
    @include mq-up() {
      height: 42px;
      width: 42px;
      font-size: 24px;
      line-height: 42px;
    }
    &.here {
      background-color: $yellow;
      pointer-events: none;
    }
  }
  &__scroll {
    font-family: $ubuntu;
    font-size: 12px;
    writing-mode: vertical-rl;
    @include mq-up() {
      position: absolute;
      top: 280px;
      right: 10px;
      font-size: 20px;
    }
    color: $blue;
    &::before {
      content: "";
      position: relative;
      right: 2px;
      display: inline-block;
      width: 1px;
      height: 89px;
      margin-bottom: 15px;
      background-color: $blue;
    }
  }
  & .swiper-pagination-bullet {
    transform: scale(1);
  }
}