.page-common {
  position: relative;
  width: 91%;
  padding-top: 24px;
  padding-bottom: 48px;
  margin: 0 auto;
  z-index: 1;
  @include mq-up() {
    width: 100%;
    max-width: 1440px;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;
  }
  @include mq-up() {
    &:not(.page-top) {
      &::after {
        position: absolute;
        display: block;
        top: 530px;
        right: 0;
        font-family: $ubuntu;
        font-weight: 700;
        font-size: 180px;
        text-align: right;
        color: $gray3;
        white-space: nowrap;
        opacity: 0.25;
        z-index: -1;
      }
    }
  }
  &.page-top {
    padding-top: 77px;
    @include mq-up() {
      padding-top: 15vw;
      padding-left: 39px;
      padding-right: 39px;
    }
  }
  @include mq-down() {
    &.page-news,
    &.page-members {
      padding-top: 77px;
    }
  }
  &__pagination {
    position: absolute;
    top: 77px;
    right: 0;
    @include mq-up() {
      top: 200px;
      right: 60px;
    }
  }
  @include mq-up() {
    &__title {
      position: relative;
      width: fit-content;
      width: -moz-fit-content;
      margin-bottom: 72px;
      font-family: $ubuntu;
      font-size: 40px;
      color: #0168B7;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        top: 35px;
        right: -25px;
        display: block;
        width: 199px;
        height: 44px;
        background-image: url("/images/decoration-ribbon.svg");
        z-index: -1;
      }
    }
  }
  &__back-to-list {
    margin-top: 40px;
    @include mq-up() {
      margin-top: initial;
    }
  }
}