.page-news-details {
  @include mq-up() {
    &::after {
      content: "\0057\0068\0061\0074\2019\0073\0020\004e\0045\0057";
    }
  }
  &__header {
    @include mq-up() {
      display: flex;
      align-items: baseline;
      column-gap: 40px;
    }
  }
  &__date {
    font-family: $ubuntu;
    font-size: 14px;
    @include mq-up() {
      flex-shrink: 0;
      font-size: 18px;
    }
  }
  &__title {
    font-size: 20px;
    @include mq-up() {
      font-size: 32px;
    }
  }
  &__body {
    margin-top: 25px;
    @include mq-up() {
      margin-top: 45px;
    }
  }
  &__thumbnail {
    @include mq-up() {
      float: right;
      max-width: 582px;
      width: 50%;
      height: auto;
      object-fit: contain;
      -o-object-fit: contain;
      margin-left: 35px;
    }
  }
  &__description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.45;
    text-align: justify;
    @include mq-up() {
      margin-top: initial;
    }
  }
  @include mq-up() {
    & .page-common__back-to-list {
      margin-top: 17px;
      clear: both;
    }
  }
}