.page-access {
  @include mq-up() {
    &::after {
      content: "\0041\0063\0063\0065\0073\0073";
    }
  }
  & h2 {
    font-size: 18px;
    font-weight: 500;
    color: $blue;
    @include mq-up() {
      font-size: 24px;
    }
    & + div {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;
      @include mq-up() {
        flex-direction: row;
        column-gap: 74px;
        margin-top: 24px;
      }
      & iframe {
        max-height: 260px;
        @include mq-up() {
          max-width: 570px;
          max-height: 430px;
        }
      }
    }
  }
  & .fh--details-link {
    margin-top: 15px;
    @include mq-up() {
      margin-top: initial;
    }
  }
  & h3 {
    font-size: 18px;
    font-weight: 500;
    color: $blue;
    @include mq-up() {
      font-size: 20px;
    }
    &:last-of-type {
      margin-top: 32px;
      @include mq-up() {
        margin-top: 100px;
      }
    }
    & + p {
      margin-top: 10px;
      & + div {
        @include mq-up() {
          display: flex;
          gap: 120px;
          align-items: flex-end;
          margin-top: 10px;
        }
      }
    }
  }
}