.page-publications {
  @include mq-up() {
    &::after {
      content: "\0050\0075\0062\006c\0069\0063\0061\0074\0069\006f\006e\0073";
    }
  }
  &__list {
    width: 93%;
    @include mq-up() {
      width: 90%;
    }
    & > li {
      @include mq-up() {
        display: flex;
        gap: 80px;
        align-items: flex-start;
      }
      & + li {
        margin-top: 24px;
        @include mq-up() {
          margin-top: 39px;
        }
      }
    }
  }
  &__year {
    font-family: $ubuntu;
    font-size: 24px;
    font-weight: 700;
    color: rgba($blue, 0.6);
    @include mq-up() {
      font-size: 48px;
      line-height: 1;
    }
    & + ul {
      @include mq-up() {
        width: 90%;
      }
      & li {
        & + li {
          margin-top: 17px;
          @include mq-up() {
            margin-top: 39px;
          }
        }
        & h3 {
          display: flex;
          column-gap: 30px;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          @include mq-up() {
            justify-content: space-between;
            font-size: 16px;
            line-height: 18.5px;
          }
          & a {
            &::after {
              content: "";
              display: block;
              width: 35px;
              height: 35px;
              background-image: url("/images/icon-arrow-download.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              @include mq-up() {}
            }
          }
        }
        & p {
          font-size: 10px;
          line-height: 11.5px;
          @include mq-up() {
            font-size: 14px;
            line-height: 16px;
          }
          &:first-of-type {
            margin-top: 2px;
            @include mq-up() {
              margin-top: -10px;
            }
          }
        }
      }
    }
  }
}