.page-awards {
  @include mq-up() {
    &::after {
      content: "\0041\0077\0061\0072\0064\0073";
    }
  }
  & > ol {
    width: 93%;
    & > li {
      margin-top: 40px;
      @include mq-up() {
        display: flex;
        column-gap: 20px;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      & > div {
        display: flex;
        align-items: flex-start;
        column-gap: 15px;
        @include mq-up() {
          column-gap: 20px;
        }
        & + ul {
          flex-grow: 1;
          & li {
            & + li {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
  &__year {
    font-family: $ubuntu;
    font-size: 18px;
    font-weight: 700;
    color: rgba($blue, 0.6);
    @include mq-up() {
      width: 133px;
      font-size: 32px;
      line-height: 1;
    }
  }
  &__name {
    font-size: 13px;
    line-height: 30px;
    @include mq-up() {
      width: 160px;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }
  }
  & p {
    @include mq-up() {
      font-size: 20px;
    }
    & + p {
      font-size: 12px;
      color: $gray5;
      @include mq-up() {
        font-size: 18px;
      }
    }
  }
}