.page-self-intro {
  @include mq-up() {
    &::after {
      content: "\0053\0065\006c\0066\002d\0049\006e\0074\0072\006f\0064\0075\0063\0074\0069\006f\006e";
    }
  }
  @include mq-up() {
    &__container {
      display: flex;
      gap: 70px;
    }
  }
  &__person {
    display: flex;
    gap: 25px;
    align-items: center;
    @include mq-up() {
      gap: 32px;
      align-items: flex-end;
    }
  }
  &__image {
    width: 107px;
    height: 123px;
    @include mq-up() {
      width: 193px;
      height: 222px;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
    @include mq-up() {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      column-gap: 24px;
      font-size: 36px;
      line-height: 1;
    }
    & span {
      display: block;
      font-family: $ubuntu;
      font-size: 14px;
      font-weight: 300;
      color: $blue;
      @include mq-up() {
        font-size: 20px;
      }
    }
  }
  &__position {
    margin-top: 6px;
    font-size: 14px;
    @include mq-up() {
      margin-top: 50px;
      font-size: 16px;
      line-height: 1.4;
    }
  }
  &__description {
    position: relative;
    width: 97%;
    margin: 17px auto 0;
    text-align: justify;
    @include mq-up() {
      max-width: 577px;
      margin: 50px auto 0;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
    }
    &::before {
      top: -5px;
      left: -8px;
      width: 18px;
      height: 18px;
      border-top: 2px solid $blue;
      border-left: 2px solid $blue;
      @include mq-up() {
        top: -18px;
        left: -18px;
      }
    }
    &::after {
      bottom: 3px;
      right: -10px;
      width: 27px;
      height: 27px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      @include mq-up() {
        bottom: -12px;
        right: -12px;
        border-bottom: 2px solid $blue;
        border-right: 2px solid $blue;
      }
    }
  }
  &__back {
    margin-top: 23px;
    text-align: center;
  }
  @include mq-up() {
    &__biography {
      font-size: 24px;
    }
  }
  &__list {
    @include mq-up() {
      margin-top: 20px;
    }
    & li {
      font-size: 14px;
      @include mq-up() {
        font-size: 16px;
      }
      & + li {
        margin-top: 14px;
        @include mq-up() {
          margin-top: 22px;
        }
      }
      & .date {
        display: block;
        font-size: 12px;
        color: $gray4;
        @include mq-up() {
          display: inline;
          color: $black;
        }
        & span {
          font-family: $ubuntu;
          font-size: 14px;
          @include mq-up() {
            font-size: 16px;
          }
        }
      }
    }
  }
}